
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    a(href="/Ambuj" style="color#F68401") Ambuj  
    a(href="/Rajesh" style="color:#E300FF") Rajesh    
    a(href="/Vijaya" style="color:#ff0000") Vijaya     
    
  body
    block content